body {
  height: 100vh;
  min-width: 100vw;
}
.App {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto 1fr 1fr;

}

header {
  grid-column: 1 / -1;
  padding: 20px;
}


main {
  grid-column: 1 / -1;
  padding: 20px;
}

footer {
  grid-column: 1 / -1;
  padding: 20px;
}


/* Header */
.header-container {
  display: flex;
}

.app-title{
  padding: 0 10px;
}
.nav {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.nav-button {
  padding: 0 10px;
}

.log-buttons{
  display: flex;
  justify-content: space-evenly;
}

.log {
  padding: 0 5px;
}

/* login */

.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid grey;
}

.login-buttons {
  padding: 10px;
}